<table class="border w-full text-center">
  <thead class="bg-gray-500 text-white">
    <th class="border w-1/5">ID</th>
    <th class="border">Name</th>
  </thead>
  <tbody>
    <tr
      *ngFor="let hero of heroes; let i = index"
      class="border transition duration-200 hover:bg-gray-200"
      [class.bg-gray-200]="heroDetail.name == hero.name"
      (click)="getHeroDetail(hero)"
    >
      <td class="border">
        {{ hero.id }}
      </td>
      <td class="border">
        {{ hero.name }}
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="heroDetail.name" class="mt-10 bg-gray-100 p-4">
  <div class="text-2xl font-bold pb-4">Edit The Selected Hero</div>
  <div class="flex flex-col">
    <div class="mr-4">Hero Name</div>
    <input
      type="text"
      [(ngModel)]="heroDetail.name"
      class="border-2 border-blue-100 rounded-lg pl-1"
    />
  </div>
</div>
